<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg  request_id=%X{X-Request-ID}%n"/>
		</Console>
		<Async name="Async">
			<AppenderRef ref="Console"/>
		</Async>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.wicket.protocol.http.RequestLogger" level="info"
				additivity="false">
			<AppenderRef ref="Async"/>
		</Logger>
		<Logger name="com.mycompany" level="info"
				additivity="false">
			<AppenderRef ref="Async"/>
		</Logger>
		<Root level="error">
			<AppenderRef ref="Async"/>
		</Root>
	</Loggers>
</Configuration>
